.text-color {
    color: red;
}

.text-align {
    text-align: center;
}

.text-decoration {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
}

.text-transform {
    text-transform: uppercase;
}

.font-family {
    font-family: cursive;
}

.font-size {
    font-size: 24px;
}

.font-style {
    font-style: italic;
}

.font-weight {
    font-weight: 900;
}